h1= title
.content
  ul#channels(style:'list-style-type:none')
    - each x in channels
      li
        #{channels[x]}
          #{x}
  h1 Add Channel
    form(method: 'post', action: '/admin')
      input(type: 'text', name: 'channel')
      input(type: 'submit', value: 'Send')