h1= title
.content
  - each x, y in channels
    ul #{y}
      - each d in x
        li 
        a(href='/edit/'+!{d}) #{d} 
        form(method: 'post', action: '/delete/feed')
          input(type: 'hidden', name: 'feed', value: d)
          input(type: 'hidden', name: 'channel', value: y)
          input(type: 'submit', value: 'delete feed') 
  h1 Add Channel
    form(method: 'post', action: '/admin')
      input(type: 'text', name: 'channel')
      input(type: 'submit', value: 'Send')