h1= title
ul#filter
  li.all
    h2
      a(href="#", data-filter="*") All
  li.video 
    h2 
      a(href="#", data-filter=".video") Video
  li.comics
    h2
      a(href="#", data-filter=".comics") Comics
  li.culture 
    h2
      a(href="#", data-filter=".culture") Culture
  li.music 
    h2
      a(href="#", data-filter=".music") Music
  li.relevision 
    h2
      a(href="#", data-filter=".relevision") Relevison
  li.POLITICS 
    h2
      a(href="#", data-filter=".POLITICS") Politics
  li.science
    h2
      a(href="#", data-filter=".science") Science
  li.reading
    h2
      a(href="#", data-filter=".reading") Reading
#container