h1= title
ul#filter
li.all
  h2
    a(href="/", data-filter="*") All
li.video 
  h2 
    a(href="/video", data-filter=".video") Video
li.comics
  h2
    a(href="/comics", data-filter=".comics") Comics
li.culture 
  h2
    a(href="/culture", data-filter=".culture") Culture
li.music 
  h2
    a(href="/music", data-filter=".music") Music
li.relevision 
  h2
    a(href="/relevision", data-filter=".relevision") Relevison
li.POLITICS 
  h2
    a(href="/politics", data-filter=".POLITICS") Politics
li.science
  h2
    a(href="/science", data-filter=".science") Science
li.reading
  h2
    a(href="/reading", data-filter=".reading") Reading
#container