h1 Welcome #{person.name}
ul here are your channels
  - for (x in channels)
    li(data-chan: x) 
      !{channels[x]}
form(action:'./new/channel', method: 'POST')
  input(type:'text', name:'channel')
  input(type: 'button', value:'New Channel')