h1 Welcome #{person.name}
ul here are your channels
  - for (x in channels)
    li(data-station: x) 
      !{channels[x]}
      form(method:'post', action:'./delete/station')
        input(type:'hidden', name:'station', value: x)
        input(type:'submit', value:'Delete', onClick: "-if (confirm('sure?')) submit();")
form(method: 'post', action:'./new/channel')
  input(type:'text', name:'channel')
  input(type: 'submit', value:'New Channel')