body {
background:#3c3c3c;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color:#c9c9c9;
font-size:18px;
}
h1 {font-size:190%;}
h2 {font-size:145%;}
.main{
	width:960px;
}
a, a:visited {color:#88dd00;text-decoration:none;}
ul {display:inline-block;}
li {width:300px; height:467px;border:1px solid #999;-webkit-border-radius: 9px;}
.articles{
	background:#111;
	margin:5px;
	display:inline-block;
	float:left;
	width:300px; height:467px;
	border:1px solid #999;
	-webkit-border-radius: 9px;
	overflow:hidden;
}
.container{
	padding:13px;
}
#content img {width:290px;}