body {
background:#1c1c1c;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color:#c9c9c9;
}
.main{
	width:960px;
}
ul {display:inline-block;}
li {width:300px; height:450px;border:1px solid #999;-webkit-border-radius: 9px;}
.articles{
	background:#111;
	margin:5px;
	display:inline-block;
	float:left;
	width:300px; min-height:200px;max-height:500px;border:1px solid #999;-webkit-border-radius: 9px;
}