body {
background:#3c3c3c;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color:#c9c9c9;
font-size:18px;
}
h1 {font-size:190%;}
h2 {font-size:145%;}
.main{
	width:970px;
}
a, a:visited {color:#88dd00;text-decoration:none;}
.articles{
	background:#111;
	margin:5px;
	display:inline-block;
	float:left;
	width:300px; height:493px;
	overflow:hidden;
}
ul.sort{
	height:100px;
	display:inline-block;
}
ul.sort li{
	display:inline-block;
	width:113px;
	margin-right:3px;
}
ul.sort li.relevision {width:139px;}
ul.sort li.video{width:99px;}
ul.sort li.music{width:99px;}
ul.sort li h2 {
	text-align:center;
}
.container{
	padding:13px;
		width:970px;
}
.fit {	padding:13px;}
#content img {width:290px;}
.video{
	border:3px solid #0099ff;
	-webkit-border-radius: 9px;
}
.POLITICS{
	border:3px solid #880077;
	-webkit-border-radius: 9px;
}
.comics{
	border:3px solid #ffff33;
	-webkit-border-radius: 9px;
}
.relevision{
	border:3px solid #cc0011;
	-webkit-border-radius: 9px;
}
.music{
	border:3px solid #ee00cc;
	-webkit-border-radius: 9px;
}
.science{
	border:3px solid #00cc55;
	-webkit-border-radius: 9px;
}
.culture{
	border:3px solid #dd1111;
	-webkit-border-radius: 9px;
}
.reading{
	border:3px solid #fff;
	-webkit-border-radius: 9px;
}
