body {
background:#3c3c3c;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
color:#c9c9c9;
font-size:18px;
}
h1 {font-size:190%;}
h2 {font-size:145%;}
.main{
	width:970px;
}
a, a:visited {color:#88dd00;text-decoration:none;}
.articles{
	background:#111;
	margin:5px;
	display:inline-block;
	float:left;
	width:300px; height:493px;
	overflow:hidden;
}
ul#filter{
	height:100px;
	width:600px;
	display:inline-block;
}
ul#filter li{
	display:inline-block;
	width:113px;
	margin-right:3px;
}
ul#filter li.relevision {width:139px;}
ul#filter li.video{width:99px;}
ul#filter li.music{width:99px;}
ul#filter li h2 {
	text-align:center;
	color:#f9f9f9;
}
ul#filter li a{
	color:#e6e6e6;
}
#container{
	padding:13px;
		width:970px;
}
.fit {	padding:13px;}
#content img {width:290px;}
.video{
	border:3px solid #0099ff;
	-webkit-border-radius: 9px;
}
.POLITICS{
	border:3px solid #880077;
	-webkit-border-radius: 9px;
}
.comics{
	border:3px solid #ffff33;
	-webkit-border-radius: 9px;
}
.relevision{
	border:3px solid #cc0011;
	-webkit-border-radius: 9px;
}
.music{
	border:3px solid #ee00cc;
	-webkit-border-radius: 9px;
}
.science{
	border:3px solid #00cc55;
	-webkit-border-radius: 9px;
}
.culture{
	border:3px solid #ff4400;
	-webkit-border-radius: 9px;
}
.reading{
	border:3px solid #fff;
	-webkit-border-radius: 9px;
}

/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}