body {
background:#333;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.content{
	width:960px;
	border:3px solid #999;
	-webkit-border-radius: 9px;
}
ul {display:inline-block;}
li {width:300px; height:450px;border:1px solid #999;-webkit-border-radius: 9px;}
.articles{
	padding:10px;
}